*{
    font-family: 'Times New Roman', Times, serif;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 40px;
  margin-top: -3%;
}

span {
  flex: auto;
}

p {
  text-align: justify;
}

.contact {
  text-align: right;
  position: absolute;
  right: 10px;
  top: 90px;
}

#contact {
  font-size: 20px;
  font-weight: bold;
}

.describe {
  font-weight: bold;
  font-size: larger;
}

.conatiner1 {
  font-weight: bold;
  margin: 0%;
}

#describe_p {
  margin-top: -0.75%;
  text-align: justify;
}

.describe_dt{
    font-weight: bold;
}

.container{
    box-sizing: border-box;
    border: 2px solid black;
    width: 1000px;
    height: 1360px;
    padding: 10px;
    position: absolute;
    margin-left: 250px;
}

hr{
    transform: 90;
}